<div class="donation">
  <section class="donation__image">
    <img src="assets/food-placeholder.jpg" alt="food donation picture">
    <section class="donation__details">
      <div class="donation__user-avatar">
        <img src="assets/avatar.png" alt="user avatar picture">
      </div>
      <div class="donation__info">
        <p class="donation__user">Username - food item</p>
        <section class="donation__product-info">
          <p class="donation__distance"><img src="assets/Icons/distance-20x20.png">1.1km</p>
          <p class="donation__distance"><img src="assets/Icons/clock-20x20.png">23.02.2021</p>
        </section>
      </div>
    </section>
  </section>
</div>
