<div class="header">
  <div class="header__container">
    <div class="header__logo-container">
      <div class="header__logo">
        <img src="./assets/Logo/logo-50x44-white.png" alt="food pin logo">
        <h1 class="home__brand-name">FoodPin</h1>
      </div>
    </div>
    <div class="header__hamburger-menu" (click)="toggleMenu()">
      <ng-container *ngTemplateOutlet="button; context:{description: 'menu', icon: 'menu'}"></ng-container>
    </div>
  </div>
</div>

<ng-template let-btn_info="description" let-btn_icon="icon" #button>
  <div class="header__button-container">
    <button class="header__{{ btn_info }}">
      <picture class="header__btn-{{btn_info}}">
        <source media="(min-width: 640px)" srcset="assets/Buttons/{{ btn_icon }}-75x75.png">
        <img src="./assets/Buttons/{{ btn_icon }}-50x50.png" alt="button">
      </picture>
    </button>
  </div>
</ng-template>
