@import "./variables";

@mixin flexColumnDirection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inputFormsStyle {
  padding: 10px;
  border:0;
  box-shadow:0 0 20px 4px rgba(247,149,33,0.15);
}

@mixin activeButton {
  padding: 0.5em 0;
  border-radius: 25px;
  font-size: 1.2em;
  background-color: $colorOrange;
  color: $colorWhite;
}

@mixin mediaQuery($breakPoint) {
  $size: map-get($breakPoints, $breakPoint);
  @if($size) {
    @media (#{$size}) {
      @content;
    }
  }
  @else {
    @error '"#{$breakPoint}" - resolution is not define';
  }
}
