@import "./variables";

@mixin flexColumnDirection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inputFormsStyle {
  padding: 10px;
  border:0;
  box-shadow:0 0 20px 4px rgba(247,149,33,0.15);
}

@mixin activeButton {
  padding: 0.5em 0;
  border-radius: 25px;
  font-size: 1.2em;
  background-color: $colorOrange;
  color: $colorWhite;
  border: none;
}

@mixin mediaQuery($breakPoint) {
  $size: map-get($breakPoints, $breakPoint);
  @if($size) {
    @media (#{$size}) {
      @content;
    }
  }
  @else {
    @error '"#{$breakPoint}" - resolution is not define';
  }
}

@mixin iconContainer {
  @include flexRowCenter;

  fa-icon {
    padding-top: 1em;
    margin-right: 0.5em;
    color: lighten($colorOrange, 15%);
    font-size: 1.2em;

    @include mediaQuery(tabletLarge) {
      font-size: 1.6em;
    }
  }
}

@mixin mainComponentStyles {
  @include flexColumnCenter;
  min-width: 400px;
  max-width: 700px;
  margin: 3em auto;
  height: 100vh;

  @include mediaQuery(tabletLarge) {
    margin-top: 1em;
  }
}

@mixin mainContainerStyles {
  &__container {
    @include flexColumnDirection;
    margin-top: 3em;
    width: 90%;
  }
}

@mixin logoStyles {
  &__logo {
    @include flexColumnDirection;
    font-size: 2em;
    font-weight: bold;
    text-align: center;

    @include mediaQuery(tabletLarge) {
      font-size: 4em;
    }
  }

  &__image {
    margin: 0 auto;
  }

  &__brand-name {
    color: $colorOrange;
    margin-bottom: 0.5em;
  }
}

@mixin logoStylesDesktop {
  &__logo {
    @include flexColumnDirection;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;

    @include mediaQuery(tabletLarge) {
      display: flex;
      flex-direction: row;
      align-self: flex-start;
      font-size: 3em;
    }
  }

  &__image {
    margin: 0 auto;
  }

  &__brand-name {
    color: $colorOrange;
    margin-bottom: 0.5em;
  }
}

@mixin userInfoStyles {
  &__user-info {
    @include flexColumnDirection;
    margin: 0 auto;
    width: 70%;

    input {
      @include inputFormsStyle;
      margin-top: 1em;
      font-size: 1em;

      @include mediaQuery(tabletLarge) {
        font-size: 1.6em;
      }
    }

    input:focus {
      border: 2px solid $colorOrange;
    }
  }
}
