$colorOrange: #f79521;
$colorFadedOrange: #fccaa0;
$colorGrey: #6D6D6D;
$colorWhite: #ffffff;

$breakPoints: (
  smartphoneSmall: 'min-width: 360px',
  smartphone: 'min-width: 460px',
  smartphoneLarge: 'min-width: 640px',
  smartphoneLargeVertical: 'max-height: 640px',
  tablet: 'min-width: 800px',
  tabletLarge: 'min-width: 1024px',
  desktop: 'min-width: 1280px',
  desktopLarge: 'min-width: 1600',
);
