@import "../../variables";
@import "../../mixins";

.wrapper {
  width: 90%;
  margin: 0 auto;
}
.donate {
  &__header {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: $colorOrange;
      font-size: 1.3em;
    }
  }

  &__close {
    button {
      background-color: $colorWhite;
      border-radius: 50%;
      font-size: 1.2em;
      color: $colorGrey;
      z-index: -1;
      border: 2px solid $colorGrey;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding: 3px 0.5px 0 0;
    }
  }

  &__slider {
    ::ng-deep {
      .ngx-slider .ngx-slider-pointer {
        background-color: $colorOrange;
        width: 20px;
        height: 20px;
        top: auto;
        transform: translate(0, -50%);
      }

      .ngx-slider .ngx-slider-pointer:after {
        background-color: $colorOrange;
        left: 20%;
        top: 5%;
      }

      .ngx-slider .ngx-slider-bar {
        background-color: $colorLightGrey;
        height: 1px;
      }

      .ngx-slider .ngx-slider-bubble {
        color: $colorGrey;
      }
    }
  }
}

