@import "../../variables";
@import "../../mixins";

.home {
  @include mainComponentStyles;
  @include mainContainerStyles;
  @include logoStylesDesktop;
  position: relative;
  overflow: hidden;

  &__quotation {
    @include flexColumnCenter;
    margin: 1.5em auto;

    h1 {
      font-size: 1.5em;
      font-weight: bold;
    }

    p {
      font-size: 1.2em;
    }
  }

  &__buttons {
    @include flexRowCenter;
    margin: 1em auto;
  }

  &__button-container {
    @include flexColumnCenter;
    margin: 0 0.7em;

    button {
      width: 65px;
      height: 65px;
      border: 1px solid $colorOrange;
      border-radius: 50%;
      background-color: $colorWhite;

    }

    small {
      margin-top: 0.4em;
    }

    & .home__Donate {
      background-color: $colorOrange;
    }

    & .home__Search {
      background-color: lighten($colorOrange, 30);
    }

    & .home__menu {
      width: 50px;
      height: 50px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: $colorOrange;
    }
  }

  &__menu-btn {
    position: absolute;
    top: 50%;
    right: -3%;
    small {
      display: none;
    }
  }

  &__child-image {
    margin-top: 3.6em;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: $colorOrange;
    text-align: center;
    line-height: 3em;

    p {
      color: $colorWhite;
      font-size: 1.2em;
    }
  }
}

.home_Donate {
  background-color: $colorOrange;
}
