@import "../../variables";
@import "../../mixins";

.home {
  @include mainComponentStyles;
  @include mainContainerStyles;
  @include logoStylesDesktop;
  height: 100vh;

  &__container {
    height: 100%;
    @include mediaQuery(tabletLarge) {
      min-height: 1250px;
    }
  }

  header {
    @include mediaQuery(tabletLarge) {
      display: flex;
      width: 100%;
      box-shadow:0 4px 2px -2px rgba(247,149,33,0.35);
    }
  }

  &__user-buttons {
    @include header-user-btn($colorOrange, '2.4em');
    button {
      background-color: $colorWhite;
    }

    & button .content__icon:hover, & button .material-icons:hover {
      color: darken($colorOrange, 20%);
    }
  }

  &__quotation {
    @include flexColumnCenter;
    margin: 1.5em auto;
    max-width: 700px;

    h1 {
      font-size: 1.5em;
      font-weight: bold;

      @include mediaQuery(smartphoneLarge) {
        font-size: 1.8em;
      }
      @include mediaQuery(tabletLarge) {
        font-size: 2.1em;
      }
    }

    p {
      font-size: 1.2em;

      @include mediaQuery(smartphoneLarge) {
        font-size: 1.5em;
      }
      @include mediaQuery(tabletLarge) {
        font-size: 1.8em;
      }
    }

  }

  &__buttons {
    @include flexRowCenter;
    margin: 1em auto;
    max-width: 700px;
    flex-grow: 1;
  }

  &__button-container {
    @include flexColumnCenter;
    margin: 0 0.7em;

    @include mediaQuery(smartphoneLarge) {
      margin: 0 1em;
    }
    @include mediaQuery(tabletLarge) {
      margin: 0 1.5em;
    }

    button {
      width: 65px;
      height: 65px;
      border: 1px solid $colorOrange;
      border-radius: 50%;
      background-color: $colorWhite;
      transition: 0.5s;

      @include mediaQuery(smartphoneLarge) {
        width: 80px;
        height: 80px;
      }
    }

    button:hover {
      box-shadow:0 0 20px 4px $colorOrange;
    }

    small {
      margin-top: 0.4em;
    }

    & .home__Donate {
      background-color: $colorOrange;
    }

    & .home__Search {
      background-color: lighten($colorOrange, 30);
    }

    & .home__menu {
      width: 50px;
      height: 50px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: $colorOrange;
    }
  }

  &__menu-btn {
    position: absolute;
    top: 57%;
    right: 0;
    z-index: 3;

    @include mediaQuery(tabletLarge) {
      top: 21%;
    }

    small {
      display: none;
    }

    & .home__button-container {
      margin: 0;
      padding: 0;
    }
  }

  &__child-image {
    margin-top: 3.6em;

    @include mediaQuery(tabletLarge) {
      display: none;
    }
  }

  &__content {
    display: none;

    @include mediaQuery(tabletLarge) {
      display: flex;
      flex-grow: 1;
    }
  }

  &__footer {
    @include flexRowCenter;
    width: 100%;
    background-color: $colorOrange;
    text-align: center;

    p {
      color: $colorWhite;
      font-size: 1.2em;
      padding-top: 0.5em;

      @include mediaQuery(smartphoneLarge) {
        font-size: 1.5em;
      }
      @include mediaQuery(tabletLarge) {
        display: none;
      }
    }

    @include mediaQuery(tabletLarge) {
      display: flex;
      margin-top: 1em;
      width: 100%;
      background-color: $colorWhite;
      color: $colorOrange;
    }
  }

  &__footer-container {
    display: none;

    @include mediaQuery(tabletLarge) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 2em auto 0 auto;
      background-color: lighten($colorOrange, 40%);
    }
  }

  &__footer-info {
    @include flexRowCenter;
    width: 780px;
    margin: 0 auto;

    a {
      text-transform: uppercase;
      margin-left: 5em;
      transition: 0.5s;
    }
    a:hover {
      color: darken($colorOrange, 20%);
      cursor: pointer;
    }
    h3 {
      text-transform: uppercase;
    }
  }

  &__page-map {
    @include flexColumnDirection;
    width: 50%;
    line-height: 1.4em;
    font-size: 1em;
    color: black;
    align-items: flex-start;
    color: $colorOrange;
  }

  &__footer-child {
    img {
      width: 180px;
    }
  }

  &__footer-icons {
    @include flexColumnCenter;
    width: 80%;
    align-items: center;

    & .home__logo {
      width: 20%;
      margin: 0 0 0 20%;
    }
  }

  &__copyrights {
    width: 100%;
    text-align: center;
    background-color: $colorOrange;
    color: $colorWhite;
  }

  &__funpages {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      @include activeButton;
      width: 40px;
      height: 40px;
      padding: 3px 0 0 0;
      margin: 0 0.5em;
      background-color: lighten($colorOrange, 20%);
      transition: 0.5s;
    }

    button:hover {
      background-color: $colorOrange;
    }
  }
}

.home_Donate {
  background-color: $colorOrange;
}

.material-icons {
  font-size: 50px;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

.navbar-open {
  display: none;
}

.btn-white {
  background-color: $colorWhite;
}
