<div class="home">
  <div class="home__container">
    <header class="home__logo">
      <picture class="home__image">
        <source media="(min-width: 640px)" srcset="assets/Logo/logo-150x113.png">
        <img src="./assets/Logo/logo-100x75.png" alt="food pin logo">
      </picture>
      <h1 class="home__brand-name">FoodPin</h1>
    </header>
  </div>
  <div class="home__quotation">
    <h1>Want to share food?</h1>
    <p>Choose anyone</p>
  </div>
  <div class="home__buttons">
    <ng-container *ngTemplateOutlet="button; context:{description:'Donate', icon: 'donateIcon'}"></ng-container>
    <ng-container *ngTemplateOutlet="button; context:{description:'Search', icon: 'magnifier'}"></ng-container>
    <ng-container *ngTemplateOutlet="button; context:{description:'Map', icon: 'mapLocation'}"></ng-container>
  </div>
</div>

<ng-template let-btn_info="description" let-btn_icon="icon" #button>
  <div class="home__button-container">
    <button class="home__btn">
      <picture class="home__btn-donate">
        <source media="(min-width: 1024px)" srcset="assets/Buttons/{{ btn_icon }}-100x100.png">
        <source media="(min-width: 640px)" srcset="assets/Buttons/{{ btn_icon }}-75x75.png">
        <img src="./assets/Buttons/{{ btn_icon }}-50x50.png">
      </picture>
    </button>
    <small class="home__btn-info">{{ btn_info }}</small>
  </div>
</ng-template>

<button (click)="logoutUser()">Logout</button>
