<div class="navbar">
  <div class="navbar__slide">
    <ng-container class="test" *ngIf="loggedUser$ | async">
      <div class="navbar__user-info">
        <fa-icon class="content__icon" [icon]="userIcon"></fa-icon>
        <p>{{loggedUser$.value}}</p>
      </div>
    </ng-container>
    <ul class="navbar__menu">
      <ng-container *ngIf="!loggedUser$.value">
        <li class="navbar__item login">
          <button routerLink="/login"><fa-icon class="content__icon" [icon]="userIcon"></fa-icon><p>Sign in</p></button>
        </li>
        <li class="navbar__item register">
          <button routerLink="/register"><span class="material-icons">app_registration</span><p>Sign up</p></button>
        </li>
      </ng-container>
      <ng-container *ngIf="loggedUser$ | async">
        <li class="navbar__item">
          <button (click)="redirectToAccount()"><fa-icon class="content__icon" [icon]="accountIcon"></fa-icon><p>Account</p></button>
        </li>
      </ng-container>
      <li class="navbar__item stats">
        <button (click)="redirectToStats()"><span class="material-icons">insights</span><p>Statistics</p></button>
      </li>
      <li class="navbar__item about">
        <button (click)="redirectToAbout()"><fa-icon class="content__icon" [icon]="infoIcon"></fa-icon><p>About</p></button>
      </li>
      <li class="navbar__item">
        <button routerLink="#"><fa-icon class="content__icon" [icon]="facebookIcon"></fa-icon><p>Facebook</p></button>
      </li>
      <li class="navbar__item">
        <button routerLink="#"><fa-icon class="content__icon" [icon]="twitterIcon"></fa-icon><p>Twitter</p></button>
      </li>
      <li class="navbar__item">
        <button routerLink="#"><fa-icon class="content__icon" [icon]="instagramIcon"></fa-icon><p>Instagram</p></button>
      </li>
      <li class="navbar__item">
        <button routerLink="#"><fa-icon class="content__icon" [icon]="emailIcon"></fa-icon><p>Mail</p></button>
      </li>
    </ul>
    <ng-container *ngIf="loggedUser$ | async">
      <div class="navbar__logout">
        <a (click)="logoutUser()">Sign out</a>
      </div>
    </ng-container>
  </div>
  <div class="navbar__button-container" (click)="hideMenu()">
    <button class="navbar__close">
      <fa-icon class="content__icon" [icon]="closeIcon"></fa-icon>
    </button>
  </div>
</div>
