@import "../../variables";
@import "../../mixins";

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  &__user-info {
    @include flexColumnDirection;
    width: 100%;
    padding-bottom: 0.5em;

    fa-icon {
      font-size: 4em;
      color: white;
    }
    p {
      width: 90%;
      padding: 0.5em 0;
      border-bottom: 1px solid $colorWhite;
      font-size: 1.3em;
      color: white;
      text-align: center;
    }

    @include mediaQuery(tabletLarge) {
      display: none;
    }
  }

  &__slide {
    display: block;
    float: right;
    padding-top: 2em;
    width: 210px;
    height: 100%;
    background-color: $colorOrange;

    @include mediaQuery(tabletLarge) {
      width: 100%;
      padding-top: 0.5em;
    }
  }

  &__menu {
    @include flexColumnDirection;
    flex-grow: 1;

    @include mediaQuery(tabletLarge) {
      @include flexRowCenter;
      position: sticky;
      flex-direction: row;
    }
  }

  &__item {
    width: 100%;

    @include mediaQuery(tabletLarge) {
      width: 15%;
    }

    button {
      @include navbarButton;
      transition: 0.5s;
      height: 100%;
      padding-bottom: 1em;

      fa-icon {
        width: 50px;
        font-size: 1.5em;
      }

      @include mediaQuery(tabletLarge) {
        @include flexColumnDirection;
      }
    }

    button:hover {
      color: darken($colorOrange, 20%);
    }
  }

  &__logout {
    @include flexColumnDirection;
    padding-top: 1em;

    a {
      @include navbarAnchorTag;
      transition: 0.5s;
    }

    a:hover {
      color: darken($colorOrange, 20%);
    }

    @include mediaQuery(tabletLarge) {
      display: none;
    }
  }

  &__button-container {
    width: 100%;
    //@include flexColumnCenter;
    //margin: 0 0.7em;

    @include mediaQuery(smartphoneLarge) {
      //margin: 0 1em;
    }
    @include mediaQuery(tabletLarge) {
      height: 0px;
      width: 100%;
    }

    button {
      position: fixed;
      top: 57%;
      right: 210px;
      width: 50px;
      height: 50px;
      border: 1px solid $colorOrange;
      color: $colorOrange;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      background-color: $colorWhite;
      font-size: 1.8em;
      transition: 0.5s;
      z-index: 2;

      @include mediaQuery(tabletLarge) {
        @include flexColumnCenter;
        position: static;
        transform: translate(0, -50%);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        height: 107px;
      }
    }

    button:hover {
      box-shadow:0 0 20px 4px $colorOrange;
    }

    @include mediaQuery(tabletLarge) {
      @include flexRowCenter;
      justify-content: flex-end;
    }
  }

  @include mediaQuery(tabletLarge) {
    @include flexRowCenter;
    flex-wrap: wrap;
    position: static;
    justify-content: flex-end;
    width: 100vw;
    height: 99px;
  }
}

.material-icons {
  width: 50px;
  font-size: 36px;
}
fa-icon {
  text-decoration: none;
}

.login, .register {
  @include mediaQuery(tabletLarge) {
    display: none;
  }
}

.navbar-open {
  display: none;
}

.stats, .about {
  @include mediaQuery(tabletLarge) {
    display: none;
  }
}
