<app-loader></app-loader>
<div class="login">
  <div class="login__container">
    <div class="login__logo">
      <picture class="register__image">
        <source media="(min-width: 1024px)" srcset="assets/Logo/logo-360x270.png">
        <img src="./assets/Logo/logo-200x150.png" alt="food pin logo">
      </picture>
      <h1 class="login__brand-name">FoodPin</h1>
    </div>
    <form class="login__user-info" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="icon-container">
        <fa-icon [icon]="emailIcon"></fa-icon>
        <input id="email" class="register__email" placeholder="email" type="email" formControlName="email">
      </div>
      <ng-container *ngTemplateOutlet="validationError; context:{inputFieldValue:email}"></ng-container>
      <div class="icon-container">
        <fa-icon [icon]="passwordIcon"></fa-icon>
        <input id="password" class="register__password" placeholder="password" type="password" formControlName="password1">
      </div>
      <ng-container *ngTemplateOutlet="validationError; context:{inputFieldValue:password}"></ng-container>
      <button type='submit' class="login__submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <div class="login__register-redirect">
      <p>Need an account?</p>
      <a routerLink="/register">Sign Up</a>
    </div>
  </div>
</div>

<ng-template let-error="inputFieldValue" #validationError>
  <div class="inputErrors" *ngIf="error.invalid && error.touched">
    <small [innerHTML]="error.errors | inputError"></small>
  </div>
</ng-template>
