<div class="login">
  <div class="login__container">
    <div class="login__logo">
      <img class="login__image" src="" alt="food pin logo">
      <h1 class="login__brand-name">FoodPin</h1>
    </div>
    <form class="login__user-info">
      <label for="email">Email</label>
      <input id="email" class="login__email" placeholder="email" type="email" formControlName="email">
      <label for="password">Password</label>
      <input id="password" class="register__password" placeholder="password" type="password" formControlName="password">
      <button type='submit' class="register__submit">Login</button>
    </form>
    <div class="login__register-redirect">
      <p>Need an account?</p>
      <a>Sign Up</a>
    </div>
  </div>
</div>
