<div class="login">
  <div class="login__container">
    <div class="login__logo">
      <img class="login__image" src="" alt="food pin logo">
      <h1 class="login__brand-name">FoodPin</h1>
    </div>
    <form class="login__user-info" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input id="email" class="login__email" placeholder="email" type="email" formControlName="email">
      <div *ngIf="email.invalid && email.touched">
        <small *ngIf="email.errors?.required">Email is required</small>
        <small *ngIf="email.errors?.email">Email must be a valid email address</small>
      </div>
      <label for="password">Password</label>
      <input id="password" class="register__password" placeholder="password" type="password" formControlName="password">
      <div *ngIf="password.invalid && password.touched">
        <small *ngIf="password.errors?.required">Password is required</small>
        <small *ngIf="password.hasError('hasNumber')">Password must contain at least 1 number</small>
        <small *ngIf="password.hasError('hasCapitalCase')">Password must contain at least 1 capital letter</small>
        <small *ngIf="password.hasError('hasSmallCase')">Password must contain at least 1 lowercase letter</small>
        <small *ngIf="password.errors?.minlength">Password must be at least 6 characters</small>
      </div>
      <button type='submit' class="register__submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <div class="login__register-redirect">
      <p>Need an account?</p>
      <a>Sign Up</a>
    </div>
  </div>
</div>
