@import "../../variables";
@import "../../mixins";

.header {
  width: 100vw;
  padding-top: 0.3em;
  background-color: $colorOrange;

  @include mediaQuery(tabletLarge) {
    padding: 0;
  }

  &__container {
    display: flex;
    width: 100%;
  }

  &__logo-container {
    width: 100%;

    @include mediaQuery(tabletLarge) {
      padding: 0.5em;
    }
  }

  &__logo {
    @include flexRowCenter;
    width: 45%;
    margin: 0 auto;

    h1 {
      color: $colorWhite;
      font-size: 1.5em;
      font-weight: 500;
    }
  }

  &__hamburger-menu {
    @include flexRowCenter;
    text-align: right;
    padding-right: 1em;
  }

  &__menu {
    @include activeButton;
  }

  &__logout-btn {
    width: 50px;
    padding: 0.5em 0;
    font-size: 2em;
    background-color: lighten($colorOrange, 15%);
    color: $colorWhite;
    border: none;
  }

  &__user-buttons {
    @include header-user-btn($colorWhite, '2em');
    button {
      background-color: inherit;
    }

    & button .content__icon:hover, & button .material-icons:hover {
      color: darken($colorOrange, 20%);
    }

    @include mediaQuery(tabletLarge) {
      margin: 0;
    }
  }
}

.navbar-open {
  display: none;
}

.faded-orange {
  margin: 0 auto;
  background-color: lighten($colorOrange, 15%);
}

.material-icons {
  font-size: 40px;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}
