<div class="register">
  <div class="register__container">
    <div class="register__logo">
      <img class="register__image" src="" alt="food pin logo">
      <h1 class="register__brand-name">FoodPin</h1>
    </div>
    <form class="register__user-info">
      <label for="user-name">Username</label>
      <input id="user-name" class="register__userName" type="text">
      <label for="email">Email</label>
      <input id="email" class="register__email" type="email">
      <label for="password">Password</label>
      <input id="password" class="register__password" type="password">
      <label for="confirm-password">Confirm password</label>
      <input id="confirm-password" class="register__confirm-password" type="password">
      <button type='submit' class="register__submit">Register</button>
    </form>
    <div class="register__login-redirect">
      <p>Already have an account?</p>
      <a href="/register">Sign In</a>
    </div>
  </div>
</div>
