<app-loader></app-loader>
<div class="register">
  <div class="register__container">
    <div class="register__logo" (click)="homePageRedirect()">
      <picture class="register__image">
        <source media="(min-width: 1024px)" srcset="assets/Logo/logo-360x270.png">
        <img src="./assets/Logo/logo-200x150.png" alt="food pin logo">
      </picture>
      <h1 class="register__brand-name">FoodPin</h1>
    </div>
    <form class="register__user-info" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="icon-container">
        <fa-icon [icon]="userIcon"></fa-icon>
      <input id="user-name" class="register__userName" placeholder="user name" type="text" (change)="retainValue($event)" formControlName="username">
      </div>
      <ng-container *ngTemplateOutlet="validationError; context:{inputFieldValue:userName}"></ng-container>
      <div class="icon-container">
        <fa-icon [icon]="emailIcon"></fa-icon>
      <input id="email" class="register__email" placeholder="email" type="email" (change)="retainValue($event)" formControlName="email">
      </div>
      <ng-container *ngTemplateOutlet="validationError; context:{inputFieldValue:email}"></ng-container>
      <div class="icon-container">
        <fa-icon [icon]="passwordIcon"></fa-icon>
      <input id="password" class="register__password" placeholder="password" type="password" formControlName="password1">
      </div>
      <ng-container *ngTemplateOutlet="validationError; context:{inputFieldValue:password}"></ng-container>
      <div class="icon-container">
        <fa-icon [icon]="passwordIcon"></fa-icon>
      <input [class.invalid]="registrationForm.errors?.misMatch" id="confirm-password" class="register__confirm-password"
             placeholder="confirm password" type="password" formControlName="password2">
      </div>
      <ng-container *ngTemplateOutlet="validationError; context:{inputFieldValue:confirmPassword}"></ng-container>
      <button type='submit' class="register__submit" [disabled]="!registrationForm.valid">Register</button>
    </form>
    <div class="register__login-redirect">
      <p>Already have an account?</p>
      <a routerLink="/login">Sign In</a>
    </div>
  </div>
</div>

<ng-template let-error="inputFieldValue" #validationError>
  <div class="inputErrors" *ngIf="error.invalid && error.touched">
    <small [innerHTML]="error.errors | inputError"></small>
  </div>
</ng-template>
