<div class="register">
  <div class="register__container">
    <div class="register__logo">
      <img class="register__image" src="" alt="food pin logo">
      <h1 class="register__brand-name">FoodPin</h1>
    </div>
    <form class="register__user-info" [formGroup]="registrationForm">
      <label for="user-name">Username</label>
      <input id="user-name" class="register__userName" placeholder="user name" type="text" formControlName="userName"
             [class.invalid]="userName.invalid && userName.touched">
      <div *ngIf="userName.invalid && userName.touched">
        <small *ngIf="userName.errors?.required">Username is required</small>
        <small *ngIf="userName.errors?.minlength">Username must be at least 3 characters</small>
      </div>
      <label for="email">Email</label>
      <input id="email" class="register__email" placeholder="email" type="email" formControlName="email">
      <label for="password">Password</label>
      <input id="password" class="register__password" placeholder="password" type="password" formControlName="password">
      <label for="confirm-password">Confirm password</label>
      <input id="confirm-password" class="register__confirm-password" placeholder="confirm password" type="password" formControlName="confirmPassword">
      <button type='submit' class="register__submit">Register</button>
    </form>
    <div class="register__login-redirect">
      <p>Already have an account?</p>
      <a href="/register">Sign In</a>
    </div>
  </div>
</div>
