@import "../../variables";
@import "../../mixins";

.register {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 400px;
  max-width: 700px;

  &__container {
    @include flexColumnDirection;
    margin-top: 3em;
    width: 90%;
  }

  &__logo {
    @include flexColumnDirection;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  &__image {
    margin: 0 auto;
  }

  &__brand-name {
    color: $colorOrange;
    margin-bottom: 0.5em;
  }

  &__user-info {
    @include flexColumnDirection;
    margin: 0 auto;
    width: 70%;

    input {
      @include inputFormsStyle;
      margin-top: 1em;
      font-size: 1em;
    }
  }

  &__submit {
    @include activeButton;
    width: 70%;
    margin: 2em auto 0 auto;
  }

  &__login-redirect {
    @include flexRowCenter;
    width: 60%;
    margin: 0 auto;
    font-size: 0.9em;
    padding-top: 1em;

    p { color: $colorGrey; }
    a { color: $colorOrange; }
  }
}

.invalid {
  border: 2px solid red;
}

small {
  color: red;
}

.show {
  display: none;
}

.icon-container {
  @include flexRowCenter;

  fa-icon {
    padding-top: 1em;
    margin-right: 0.5em;
    color: lighten($colorOrange, 15%);
    font-size: 1.2em;
  }
}
