.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh
}
.invalid {
  border: 2px solid red;
}

small {
  color: red;
}

.show {
  display: none;
}
