@import "../../variables";
@import "../../mixins";

.register {
  @include mainComponentStyles;
  @include mainContainerStyles;
  @include logoStyles;
  @include userInfoStyles;

  &__submit {
    @include activeButton;
    width: 10em;
    margin: 2em auto 0 auto;

    @include mediaQuery(tabletLarge) {
      width: 13em;
    }
  }

  &__submit:disabled {
    background-color: lighten($colorOrange, 20%);
  }

  &__login-redirect {
    @include flexRowCenter;
    width: 60%;
    margin: 0 auto;
    font-size: 0.9em;
    padding-top: 1em;

    p { color: $colorGrey; }
    a {
      padding-left: 0.5em;
      color: $colorOrange;
    }
    a:hover {
      color: darken($colorOrange, 20%);
    }

    @include mediaQuery(tabletLarge) {
      font-size: 1.6em;
    }
  }
}

.invalid {
  border: 2px solid red;
}

small {
  min-width: 400px;
  max-width: 700px;
  color: red;
}

.inputErrors {
  text-align: center;
}
.show {
  display: none;
}

.icon-container {
  @include iconContainer;
}
