<div class="waste">
  <div class="waste__logo">
    <picture class="register__image">
<!--      <source media="(min-width: 1024px)" srcset="assets/Logo/logo-360x270.png">-->
      <img src="./assets/waste-350.png" alt="food waste image">
    </picture>
  </div>
  <article class="waste__info">
    <p>
      Help us create awareness about the importance of reducing food wastage.
      Approximately 3 billion tons of food gets lost or wasted on a daily basis in restaurants,
      hotels and households, this food can be served to needy people.
    </p>
  </article>
</div>
