<div class="account">
  <div class="account__container">
    <app-header></app-header>
    <section class="account__user-info">
      <div class="account__avatar">
        <img src="../../../assets/avatar.png" alt="user avatar">
      </div>
      <h3>Username</h3>
    </section>
    <section class="account__personal-details">
      <div class="account__title">
        <p>Personal details</p>
        <div>
          <button><fa-icon [icon]="editIcon"></fa-icon></button>
        </div>
      </div>
      <div class="account__details">
        <div><p>Username: </p><input type="text" placeholder="username" [disabled]="isDetailsActive"></div>
        <div><p>First Name: </p><input type="text" placeholder="first name" [disabled]="isDetailsActive"></div>
        <div><p>Last Name: </p><input type="text" placeholder="last name" [disabled]="isDetailsActive"></div>
        <div><p>Email: </p><input type="email" placeholder="email@email.com" [disabled]="isDetailsActive"></div>
        <div><p>Mobile(*): </p><input type="number" placeholder="999888777" [disabled]="isDetailsActive"></div>
      </div>
      <div class="account__title">
        <p>Address</p>
        <div>
          <button><fa-icon [icon]="editIcon"></fa-icon></button>
        </div>
      </div>
      <div class="account__address">
        <div><p>Street: </p><input type="text" placeholder="street" [disabled]="isAddressActive"></div>
        <div><p>Local Number(*): </p><input type="number" placeholder="5" [disabled]="isAddressActive"></div>
        <div><p>Postal Code: </p><input type="number" placeholder="33333" [disabled]="isAddressActive"></div>
        <div><p>City: </p><input type="text" placeholder="city" [disabled]="isAddressActive"></div>
        <div><p>Country: </p><input type="text" placeholder="country" [disabled]="isAddressActive"></div>
      </div>
    </section>
    <section class="account__buttons">
      <button class="account_donations">Your donations</button>
      <button class="account_purchase">Saved food</button>
    </section>
    <section class="account__legend">
      <small>(*) - Optional</small>
    </section>
  </div>
</div>
