<div class="account">
  <app-loader></app-loader>
  <app-header></app-header>
  <ng-container *ngIf="isOpen$ | async">
    <app-navbar></app-navbar>
  </ng-container>
  <div class="account__container">
    <section class="account__user-info">
      <div class="account__avatar">
        <img src="../../../assets/avatar.png" alt="user avatar">
      </div>
      <h3>Username</h3>
    </section>
    <section class="account__personal-details">
      <div class="account__title">
        <p>Personal details</p>
        <div>
          <button><fa-icon [icon]="editIcon"></fa-icon></button>
        </div>
      </div>
      <form class="account__details" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div><p>Username: </p><input type="text" placeholder="username" [attr.disabled]="isDetailsActive" formControlName="username"></div>
        <div><p>First Name: </p><input type="text" placeholder="first name" [attr.disabled]="isDetailsActive" formControlName="firstname"></div>
        <div><p>Last Name: </p><input type="text" placeholder="last name" [attr.disabled]="isDetailsActive" formControlName="lastname"></div>
        <div><p>Email: </p><input type="email" placeholder="email@email.com" [attr.disabled]="isDetailsActive" formControlName="email"></div>
        <div><p>Mobile(*): </p><input type="number" placeholder="999888777" [attr.disabled]="isDetailsActive" formControlName="phone"></div>
      </form>
      <div class="account__title">
        <p>Address</p>
        <div></div>
      </div>
      <form class="account__address" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <div><p>Street: </p><input type="text" placeholder="street" [attr.disabled]="isAddressActive" formControlName="street"></div>
        <div><p>Local Number(*): </p><input type="number" placeholder="5" [attr.disabled]="isAddressActive" formControlName="localnumber"></div>
        <div><p>Postal Code: </p><input type="number" placeholder="33333" [attr.disabled]="isAddressActive" formControlName="postalcode"></div>
        <div><p>City: </p><input type="text" placeholder="city" [attr.disabled]="isAddressActive" formControlName="city"></div>
        <div><p>Country: </p><input type="text" placeholder="country" [attr.disabled]="isAddressActive" formControlName="country"></div>
      </form>
    </section>
    <section class="account__buttons">
      <button class="account_donations">Your donations</button>
      <button class="account_purchase">Saved food</button>
    </section>
    <section class="account__legend">
      <small>(*) - Optional</small>
    </section>
  </div>
</div>
