<div class="account">
  <div class="account__container">
    <app-header></app-header>
    <section class="account__user-info">
      <div class="account__avatar">
        <img src="../../../assets/avatar.png" alt="user avatar">
      </div>
      <h3>Username</h3>
    </section>
    <section class="account__personal-details">
      <div class="account__title">
        <p>Personal details</p>
        <div>
          <fa-icon [icon]="editIcon"></fa-icon>
        </div>
      </div>
      <div class="account__details">
        <p>Username: <span>username</span></p>
        <p>First Name: <span>first name</span></p>
        <p>Last Name: <span>last name</span></p>
        <p>Email: <span>email</span></p>
        <p>Mobile(*): <span>mobile</span></p>
      </div>
      <div class="account__title">
        <p>Address</p>
        <div>
          <fa-icon [icon]="editIcon"></fa-icon>
        </div>
      </div>
      <div class="account__address">
        <p>Street: <span>street</span></p>
        <p>Local Number(*): <span>local number</span></p>
        <p>Postal Code: <span>postal code</span></p>
        <p>City: <span>city</span></p>
        <p>Country: <span>country</span></p>
      </div>
    </section>
    <section class="account__buttons">
      <button class="account_donations">Your donations</button>
      <button class="account_purchase">Saved food</button>
    </section>
    <section class="account__legend">
      <small>(*) - Optional</small>
    </section>
  </div>
</div>
