<div class="wrapper">
  <div class="waste-products">
    <app-most-waste-products></app-most-waste-products>
  </div>
  <div class="pizza">
    <div class="pizza__logo">
      <img src="../../../assets/pizza.png" alt="pizza image">
    </div>
    <p class="pizza__info">One third of a food is wasted!</p>
  </div>
  <div class="info-stats">
    <app-info-stats></app-info-stats>
  </div>
  <div class="participate">
    <div class="container">
      <h1>Three easy steps</h1>
      <section class="participate__join">
        <h2>Join</h2>
        <p>by creating an account</p>
        <img src="../../../assets/right-down.png" alt="arrow image">
      </section>
      <section class="participate__donate">
        <h2>Donate</h2>
        <p>food that you don't need</p>
        <img src="../../../assets/left-down.png" alt="arrow image">
      </section>
      <section class="participate__save">
        <h2>Save</h2>
        <p>needy people</p>
      </section>
    </div>
  </div>
  <div class="partnership">
    <h1>Stop wasting food become our partner</h1>
    <img src="../../../assets/business-partner.png" alt="people image">
  </div>
</div>
