<div class="wrapper">
  <div class="waste-products">
    <app-most-waste-products></app-most-waste-products>
  </div>
  <div class="pizza">
    <div class="pizza__logo">
      <img src="../../../assets/pizza.png" alt="pizza image">
    </div>
    <p class="pizza__info">One third of a food is wasted!</p>
  </div>
  <div class="info-stats">
    <app-info-stats></app-info-stats>
  </div>
  <div class="participate">
    <section class="participate__join">
      <p>Join</p>
      <img src="../../../assets/right-down.png" alt="arrow image">
    </section>
    <section class="participate__donate">
      <p>Donate</p>
      <img src="../../../assets/left-down.png" alt="arrow image">
    </section>
    <section class="participate__save">
      <p>Save</p>
    </section>
  </div>
  <div class="partnership">
    <p>Stop wasting food become our partner</p>
    <img src="../../../assets/business-partner.png" alt="people image">
  </div>
</div>
